.frame{
 width: 300px;
 height:300px;
    
    }
    @import url('https://fonts.googleapis.com/css2?Teko&display=swap');
    @import url('https://fonts.googleapis.com/css2?Roboto&display=swap');
    .btn {
    cursor: pointer;
    border: solid rgb(0, 0, 0);
    font-family: "system-ui";
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding: 30px 30px;
    transition: 31ms;
    width: 520px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 1px;
    background: linear-gradient(90deg, rgb(32, 201, 55) 0%, rgb(8, 77, 24) 100%);
    --hover-bgc: #46494d;
    --hover-color: #ffffff;
    --hover-borderc: #000000;
    }
    
    .btn:hover{
    color: rgb(255, 255, 255);
    width: 520px;
    background: rgb(70, 73, 77) none repeat scroll 0% 0% / auto padding-box border-box;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-style: solid;
    }
    .btn2{
      cursor: pointer;
      border: solid rgb(0, 0, 0);
      font-family: "system-ui";
      font-size: 30px;
      color: rgb(255, 255, 255);
      padding: 30px 30px;
      transition: 31ms;
      width: 520px;
      box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
      border-radius: 1px;
      background: linear-gradient(90deg, rgb(252, 27, 27) 0%, rgb(117, 12, 12) 100%);
      --hover-bgc: #46494d;
      --hover-color: #ffffff;
      --hover-borderc: #000000;
      }
      
      .btn2:hover{
      color: rgb(255, 255, 255);
      width: 520px;
      background: rgb(70, 73, 77) none repeat scroll 0% 0% / auto padding-box border-box;
      border-color: rgb(0, 0, 0);
      border-width: 2px;
      border-style: solid;
      }
   #bouton1{
      position: absolute;
margin-top: 0px;
margin-left: 0px;
margin-right: 50%;
   }
   #bouton2{
      position: absolute;
      margin-top:0px;
      margin-left: 50%;
      margin-right: 0%;
   }