.frame{
 width: 300px;
 height:300px;
    
    }
    @import url('https://fonts.googleapis.com/css2?Teko&display=swap');
.btn {
   position: absolute;
cursor: pointer;
border: 2px solid rgb(0, 0, 0);
font-family: Teko;
font-size: 35px;
color: rgb(255, 255, 255);
padding: 10px 30px;
transition: 15ms;
width: 335px;
box-shadow: rgb(0, 0, 0) 0px 5px 25px 5px;
border-radius: 50px;
background: linear-gradient(21deg, rgb(20, 224, 61) 0%, rgb(25, 33, 179) 100%);
--hover-borderc: #000000;
--hover-bgc: #595555;
--hover-color: #ffffff;
font-weight: 100;
height: 70px;
}

.btn:hover{
color: rgb(255, 255, 255);
width: 337px;
background: rgb(89, 85, 85) none repeat scroll 0% 0% / auto padding-box border-box;
border-color: rgb(0, 0, 0);
border-width: 2px;
border-style: solid;
}
.btn2 {

   cursor: pointer;
   border:2px solid rgb(3, 0, 0);
   font-family: "Teko";
   font-size: 35px;
   color: rgb(255, 255, 255);
   padding: 10px 30px;
   transition: 15ms;
   width: 335px;
   box-shadow: rgb(0, 0, 0) 0px 5px 25px 5px;
   border-radius: 50px;
   background: linear-gradient(21deg, rgb(33, 7, 12) 0%, rgb(252, 43, 43) 100%);
   font-weight: 100;
   --hover-bgc: #5c5a5a;
   --hover-color: #ffffff;
   --hover-borderc: #000000;
height: 70px;
   }
   
   .btn2:hover{
   color: rgb(255, 255, 255);
   width: 337px;
   background: rgb(92, 90, 90) none repeat scroll 0% 0% / auto padding-box border-box;
   border-color: rgb(0, 0, 0);
   border-width: 2px;
   border-style: solid;
   }
   #bouton1{
      position: absolute;
margin-top: 10px;
margin-left: 55%;
   }
   #bouton2{
      position: absolute;
      margin-top:10px;
      margin-left: 11%;
   }